---
import IconLink from "./IconLink.astro";
---

<footer>
    <div>
        <small>implemented with Astro:</small>
        <IconLink icons="astro.png" href="https://astro.build/" alt="astroJS logo"/>
    </div>
    <div>
        <small>contact us:</small>
        <IconLink icons="mail.svg" href="mailto:circuitsurfers25@gmail.com?subject = Feedback&body = message" alt="mail logo" imgClass="mail-icon"/>
    </div>
</footer>

<style>
    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0;
        gap: 1rem;
        padding: 1rem;
        background-color: var(--rgb-bg-from);
    }

    :global(.mail-icon) {
        margin-top: -0.2rem;
    }

    footer > div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style>