---
interface Props {
    href: string;
    icons: string;
    alt: string;
    imgClass?: string;
}

const { href, icons, alt, imgClass} = Astro.props;
---

<a href={href}>
    <img src={"/assets/img/icons/" + icons} alt={alt} class={imgClass} loading="lazy">
</a>

<style>
    img {
        aspect-ratio: 1;
        height: clamp(1rem, 4vw, 2rem);
        object-fit: contain;
        width: clamp(1rem, 4vw, 2rem);
    }
    
    a {
        display: block;
        height: clamp(1rem, 4vw, 2rem);
        transition: transform 0.15s ease-in-out; /* add property name */
    }

    a > img {
        transition: transform 0.15s ease-in-out; /* add property name and unit */
    }

    a:hover > img {
        transform: translateY(0.5em) scale(1.1);
    }
</style>